.modal {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.85);
  bottom: 0;
  box-sizing: border-box;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  overflow: hidden;
  overflow: auto;
  padding: 1.5em 1em;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 999999;
}
.modal > .modal-overlay {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
